<h2 class="text-center">STUPID COACHING !</h2>

<div class="container text-center">
  <p><%= @question %></p>
  <p>- You -</p>
  <p><%= @answer %></P>
  <p>- Coach -</p>
  <br>
  <p><%= link_to "Ask a new question", ask_path %></p>
</div>




