<h2 class="text-center">STUPID COACHING !</h2>

<div class="container"></div>
<form action="/answer" method="get" class="text-center">
  <input type="text" placeholder="your question" name="query">
  <input type="submit" value="go!" class="btn-primary">
</form>
</div>

